@use '../abstracts/' as abs;

.header {
    width: 100%;
    background-color: abs.$bg-color-secondary;
    padding: 1em;
    color: abs.$black;
    text-transform: uppercase;
    border-bottom: 4px solid abs.$black;
    position: fixed;
    z-index: 1;

    @include abs.flex(row, wrap, space-between, center);

    &__logo {
        font-size: 1.5em;

        &::before {
            content: "< ";
        }

        &::after {
            content: " />";
        }
    }

    &__button {
        display: none;
        cursor: pointer;

        @include abs.media() {
            display: block;
        }

    }

    &__svg {
        width: 2em;
        height: 2em;
        fill: white;
    }

    &__nav {
        @include abs.media() {

            @include abs.flex(column, nowrap, center, center);
            width: 100%;
            opacity: 0;
            height: 0vh;
            overflow: hidden;
            transition: all .5s ease;

            &--isActive {
                @include abs.flex(column, nowrap, center, center);
                width: 100%;
                opacity: 1;
                height: 50vh;
            }
        }
    }

    &__ul {
        @include abs.flex(row, wrap, flex-end, center);

        @include abs.media() {
            flex-direction: column;
            padding: 0;
        }
    }

    &__li {
        margin: 0 .5em;
        list-style: none;

        @include abs.media() {
            margin: 1em 0;
        }

        ;

        &::after {
            content: "";
            display: block;
            background: abs.$black;
            width: 90%;
            margin-top: 3px;
            height: 3px;
            clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
            transition: clip-path .5s;
        }

        &:hover {
            &::after {
                content: "";
                display: block;
                background: abs.$black;
                width: 90%;
                margin-top: 3px;
                height: 3px;
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
        }
    }

    &__a {
        text-decoration: none;
        color: abs.$black;
    }


}